/* Box Model Hack */
*{
     box-sizing: border-box;
}
/* Clear fix hack */
.clearfix:after{
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.clear{
	clear: both;
}
/******************************************
/* Starting/base styles
/*******************************************/
body{
     height: 100vh;
     min-height: 650px;
     display: flex; 
     flex-direction: row;
     width: 100vw;
     min-width: 350px;
     background: #1d1d1d;;
     color: #fff;
     overflow-y: scroll;
     overflow-x: hidden;
}
/******************************************
/* Main styles
/*******************************************/
/* CSS FOR HEADER */
header{
     background-color: rgba(25,25,25,1);
     color: #fff;
     min-width: 120px;
     width: 120px;
     height: 100vh;
     min-height: 440px;
     position: fixed;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
}
/* HEADER LOGO DIV */
/* Box with logo + title */
#headerTitle{
     height: 180px;
     min-height: 180px;
     width: 100%;
}
/* Div with menu items */
#menuList{
     width: 100%;
     display: flex;
     flex-direction: column;
     color: #909096;
}
/* Single menu item */
.menuItem{
     height: 60px;
     min-height: 60px;
     display: flex;
     justify-content: center;
     align-items: center;
}
/* Socials in header div */
#socials{
     height: 150px;
     min-height: 150px;
     width: 100%;
}
/* Main content of the page */
#contentWrapper{
     height: 100%;
     margin-left: 130px;
}


/* Media query */
@media screen and (max-width: 1300px){
     header{
          display: none;
     }
     #content{
          height: 100%;
          width: 100%;
     }
}



/* ABOUT ME BLOCK */
#aboutMeWrapper{
     height: 100%;
     display: flex;
     flex-direction: row;
}
/* Wrapper for spans + texts */
#aboutMeTextWrapper{
     height: 100%;
     width: 50%;
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     justify-content: center;
     align-items: flex-start;
}
#aboutMeTextWrapper h2{
     font-family: 'Carter One', cursive;
     font-size: 3rem;
     color: #08fdd8;
     font-weight: 400;
     margin-left: 4rem;
}
#aboutMeTextWrapper p{
     font-family: 'Carter One', cursive;
     font-size: 1.5rem;
     font-weight: 400;
     margin-left: 4rem;
}




/* BACKGROUND BRACKETS */
.tags{
     color: #515152;
     font-family: 'Mr De Haviland', cursive;
     display: block;
     font-size: 1.4rem;
}
*::before{
     color: #515152;
     font-family: 'Mr De Haviland', cursive;
     font-weight: 400;
     display: block;
     font-size: 1.4rem;
}
*::after{
     color: #515152;
     font-family: 'Mr De Haviland', cursive;
     font-weight: 400;
     display: block;
     font-size: 1.4rem;
}
/* Opening html + body */
#openingBrackets{
     position: absolute;
     top: 0;
     left: 10rem;
     margin-top: 1rem;
     margin-left: 2rem;
}
#openingBrackets::after{
     margin-left:  1.5rem;
     content: "<body>";
}
/* Closing html + body */
#closingBrackets{
     position: absolute;
     bottom: 0;
     left: 8rem;
     margin-top: 1rem;
     margin-left: 2rem;
}
#closingBrackets::before{
     margin-left: 2rem;
     content: "</body>";
}
/* Opening for H2 */
#aboutMeHeader::before{
     content: "<h2>";
     margin-left: -0.5rem;
     margin-top: 0.5rem;
     margin-bottom: 0.5rem;
}
/* Closing for H2 */
#aboutMeHeader::after{
     content: "</h2>";
     margin-left: -0.5rem;
     margin-top: 0.5rem;
     margin-bottom: 0.5rem;
}
/* Opening for P */
#aboutMeText p:first-of-type::before{
     content: "<p>";
     margin-left: -0.5rem;
     margin-top: 0.5rem;
     margin-bottom: 0.5rem;
}
/* Closing for P */
#aboutMeText p:last-child::after{
     content: "</p>";
     margin-left: -0.5rem;
     margin-top: 0.5rem;
     margin-bottom: 0.5rem;
}