/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     font-family: 'Josefin Slab', serif;
}


/******************************************
/* Page One
/*******************************************/
.pageOne{
     height: 90vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     color: white;
     font-size: 1.6rem;
     background-image: url("images/pexels-artem-podrez-7233131.jpg");
     background-size: cover;
     background-attachment: fixed;
     border-bottom: 20vh solid transparent;
}
.introheader, .pageOne span, .arrowDown{
     text-align: center;
     -webkit-animation: fadein 4s;
        -moz-animation: fadein 4s;
         -ms-animation: fadein 4s;
          -o-animation: fadein 4s;
             animation: fadein 4s;
}
@keyframes fadein{
     from { opacity: 0; }
     to   { opacity: 1; }
}
.learnMoreBtn
{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     position: absolute;
     bottom: -50vh;
     animation-name: learnMoreAppear;
     animation-duration: 2s;
     animation-delay: 1s;
     animation-fill-mode: forwards;
}
.learnMore{
     border: 1px solid white;
     border-radius: 25px;
     height: 10vh;
     width: 180px;
     display: flex;
     justify-content: center;
     align-items: center;
}
.pageOne .line{
     background-color: white;
     height: 20vh;
     width: 1px;
}
@keyframes learnMoreAppear{
     to{bottom: 10vh;}
}
/******************************************
/* Page Two
/*******************************************/
.pageTwo{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 70vh;
}
.blockquote{
     position: relative;
     font-family: 'Montserrat', sans-serif;
     font-weight: 800;
     color: black;
     padding: 30px 0;
     width: 100%;
     max-width: 500px;
     z-index: 1;
     margin: 0 auto;
     align-self: center;
     border-top: solid 1px;
     border-bottom: solid 1px;
}
.blockquote h1{
     position: relative;
     color: black;
     font-size: 40px;
     font-weight: 800;
     line-height: 1;
     margin: 0;
}
.blockquote:after{
     position: absolute;
     content: "”";
     color: black;
     font-size: 10rem;
     line-height: 0;
     bottom: -43px;
     right: 30px;
}
.blockquote h4{
     position: relative;
     color: #292a2b;
     font-size: 1.4rem;
     font-weight: normal;
     line-height: 1;
     margin: 0;
     padding-top: 20px;
     z-index: 1;
}
/******************************************
/* Page Three
/*******************************************/
.pageThree{
     height: 160vh;
     display: flex;
     flex-flow: column;
     align-items: center;
     background-image: url("images/pexels-artem-podrez-7233131.jpg");
     background-size: cover;
     background-attachment: fixed;
     color: white;
}
.pageThree h2{
     margin: 15vh 0 3vh 0;
     font-size: 2rem;
     font-weight: 300;
}
.pageThree>.line{
     border-bottom: 1px solid white;
     height: 1px;
     width: 15vw;
}
.pageThree h4{
     margin: 3vh 0 0 0;
     font-weight: lighter;
     text-align: center;
     font-size: 1.2rem;
}
.projects{
     width: 75vw;
     height: 110vh;
     display: flex;
     justify-content: space-around;
     align-items: center;
     margin: 10vh 0 0 0;
}
.projectBox{
     height: 110vh;
     width: 25vw;
     display: flex;
     flex-flow: column;
     align-items: center;
     justify-content: flex-start;
}
.projectPic{
     height: 70vh;
     width: 80%;
}
.projectline{
     border-bottom: 1px solid white;
     height: 1px;
     width: 15vw;
     margin: 2vh 0 2vh 0;
}
.projectBox .name{
     margin: 5vh 0 0 0;
     font-size: 2rem;
}
.projectBox .description{
     font-size: 1.1rem;
}
.projectBox button{
     margin: 2vh 0 0 0;
     width: 5vw;
     height: 3vh;
     color: white;
     border: 1px solid white;
     border-radius: 10px;
     background-color: transparent;
}
/******************************************
/* Page Four
/*******************************************/
.pageFour{
     height: 90vh;
     display: flex;
     flex-flow: row;
     justify-content: center;
     align-items: center;
     font-family:'Times New Roman', Times, serif;
     font-size: 1.2rem;
     font-weight: 400;
}
.p4box1{
     width: 40vw;
     height: 80vh;
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     align-content: center;
}
.p4box1 div{
     width: 34%;
     height: 34%;
     display: flex;
     justify-content: center;
     align-items: center;
}
.servicesPic{
     height: 165px;
     width: 165px;
}
.p4box2>p{
     margin-left: 5vh;
}
.p4box2 span{
     margin-left: 5vh;
     font-size: 1.4rem;
     font-weight: bold;
}
.p4box2{
     width: 40vw;
     height: 80vh;
     display: flex;
     flex-flow: column;
     justify-content: center;
}
/******************************************
/* Page Five
/*******************************************/
.pageFive{
     height: 80vh;
     display: flex;
     flex-flow: row;
     justify-content: center;
     align-items: center;
     background-image: url("images/pexels-artem-podrez-7233131.jpg");
     background-size: cover;
     background-attachment: fixed;
     color: white;
}
.boxTwo, .boxOne{
     width: 50vw;
     display: flex;
     justify-content: center;
     align-items: center;
}
.content{
     display: flex;
     flex-flow: column;
     margin: 0 0 0 15vw;
}
.content div{
     width: 15vw;
     border-top: 1px solid white;
}
.content p{
     font-size: 1.5rem;
     font-weight: lighter;
     opacity: 0.8;
}
.content p:first-child{
     font-size: 2rem;
}
.pageFive img{
     height: 350px;
     width: 350px;
     border-radius: 20px;
     margin: 0 15vw 40px 0;
}
/******************************************
/* Page Six
/*******************************************/
.pageSix{
     height: 60vh;
     display: flex;
     flex-flow: column;
     align-items: center;
     justify-content: center;
     color: gray;
}
.pageSix div{
     width: 10vw;
     border-bottom: 1px solid gray;
}
.pageSix .title{
     font-size: 2rem;
}
.pageSix p{
     font-size: 1.5rem;
     text-align: center;
}
/******************************************
/* Page Seven
/*******************************************/
.pageSeven{
     height: 40vh;
     display: flex;
     flex-flow: column;
     align-items: center;
     justify-content: center;
     background-image: url("images/pexels-artem-podrez-7233131.jpg");
     background-size: cover;
     background-attachment: fixed;
     color: white;
}
.pageSeven p{
     font-size: 1rem;
     font-weight: lighter;
     opacity: 0.7;
}
.pageSeven img{
     height: 35px;
     width: 35px;
     opacity: 0.7;
}