/* Box Model Hack */
*{
    box-sizing: border-box;
}
/* Clear fix hack */
.clearfix:after{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clear{
   clear: both;
}
/******************************************
/* Starting/base styles
/*******************************************/
body{
    min-height: 100vh;
    display: flex; 
    flex-direction: row;
    width: 100vw;
    background: #1d1d1d;;
    color: #fff;

    overflow-y: scroll;
    overflow-x: hidden;
}
/******************************************
/* Main styles
/*******************************************/
/* Main content of the page */
#contentWrapper{
    height: 100%;
}

/* ABOUT ME BLOCK */
#aboutMeWrapper{
    display: flex;
    flex-direction: row;
    margin: 0 1rem;
}
/* Wrapper for spans + texts */
#aboutMeTextWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 4rem;
}
#aboutMeTextWrapper h2{
    font-family: 'Carter One', cursive;
    font-size: 2rem;
    color: #08fdd8;
    font-weight: 400;
    margin-left: 1rem;
}
#aboutMeTextWrapper p{
    font-family: 'Carter One', cursive;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 1rem;
}




/* BACKGROUND BRACKETS */
.tags{
    color: #515152;
    font-family: 'Mr De Haviland', cursive;
    font-weight: 600;
    display: block;
    font-size: 1.4rem;
}
*::before{
    color: #515152;
    font-family: 'Mr De Haviland', cursive;
    font-weight: 600;
    display: block;
    font-size: 1.4rem;
}
*::after{
    color: #515152;
    font-family: 'Mr De Haviland', cursive;
    font-weight: 600;
    display: block;
    font-size: 1.4rem;
}
/* Opening html + body */
#openingBrackets{
    position: absolute;
    top: 0;
    margin-top: 1rem;
}
#openingBrackets::after{
    margin-left:  1rem;
    content: "<body>";
}
/* Closing html + body */
#closingBrackets{
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
}
#closingBrackets::before{
    margin-left: 1rem;
    content: "</body>";
}




/* Opening for H2 */
#aboutMeHeader::before{
    content: "<h2>";
    margin-left: -0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
/* Closing for H2 */
#aboutMeHeader::after{
    content: "</h2>";
    margin-left: -0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
/* Opening for P */
#aboutMeText p:first-of-type::before{
    content: "<p>";
    margin-left: -0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
/* Closing for P */
#aboutMeText p:last-child::after{
    content: "</p>";
    margin-left: -0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


  
#hamburgerMenu{
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.menu{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu > li{
    margin: 0 1rem;
    overflow: hidden;
} 
.menu-button-container{
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
#menu-toggle{
    display: none;
}
.menu-button, .menu-button::before, .menu-button::after{
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}
.menu-button::before{
    content: '';
    margin-top: -8px;
}
.menu-button::after{
    content: '';
    margin-top: 8px;
}
#menu-toggle:checked + .menu-button-container .menu-button::before{
    margin-top: 0px;
    transform: rotate(405deg);
}
#menu-toggle:checked + .menu-button-container .menu-button{
    background: rgba(255, 255, 255, 0);
}
#menu-toggle:checked + .menu-button-container .menu-button::after{
    margin-top: 0px;
    transform: rotate(-405deg);
}
@media (max-width: 700px){
    .menu-button-container{
      display: flex;
    }
    .menu{
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li{
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li{
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li{
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
    .menu > li:not(:last-child){
      border-bottom: 1px solid #444;
    }
}