/* Box Model Hack */
*{
    box-sizing: border-box;
}
/* Clear fix hack */
.clearfix:after{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clear{
    clear: both;
}
/* **************************************************** */
/* **************************************************** */
/*                        POINTER                       */
/* **************************************************** */
/* **************************************************** */
#pointer{
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
.spark{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #08fdd8;
    position: absolute;
    top: -5px;
    left: -5px;
    opacity: 0;
    transform: scale(0);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}
/* **************************************************** */
/* **************************************************** */
/*                        LOADING                       */
/* **************************************************** */
/* **************************************************** */
.loading-bar{
    width: 30%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}
.loading-bar::before{
    content: "";
    width: 0;
    height: 100%;
    background: linear-gradient(to right, #08fdd8, red);
    position: absolute;
    left: 0;
    top: 0;
    animation: loading 0.5s linear infinite;
}
@keyframes loading{
    0% { width: 0; }
    100% { width: 100%; }
}
#pre-roll{
    background-color: #191919;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 999;
}
/* **************************************************** */
/* **************************************************** */
/*         MAIN CSS FOR BODY + HEADER POSITION          */
/* **************************************************** */
/* **************************************************** */
body{
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    width: 100vw;
    background: #1d1d1d;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
}
@media screen and (min-width: 1000px){
    body{
        min-height: 550px;
        flex-direction: row;
    }
}
/* **************************************************** */
/* **************************************************** */
/*                     Main styles                      */
/* **************************************************** */
/* **************************************************** */
/*               Main content of the page               */
/* **************************************************** */
/* **************************************************** */
#contentWrapper{
    min-height: 100vh;
    height: 100%;
    min-width: 80%;
    margin: 5rem 2rem 0 2rem;
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 1000px){
    #contentWrapper{
        margin: 0 2rem 0 10rem;
        flex-direction: column;
        justify-content: space-between;
    }
}
/* **************************************************** */
/* **************************************************** */
/*              HAMBURGER MENU FOR HEADER               */
/* **************************************************** */
/* **************************************************** */
#hamburgerMenu{
    position: absolute;
    top: 0;
    right: 0;
    height: calc(50px + 0.5rem);
    display: flex;
    justify-content: flex-end;
}
@media screen and (min-width: 1000px){
    #hamburgerMenu{
        display: none;
    }
}
#hamburgerToggle{
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    height: 50px;
    width: 50px;
    padding: 7px;
    background: black;;
}
/* **************************************************** */
/* **************************************************** */
/*    HEADER, visible with media query on big screen    */ 
/*     opens with button press when on phone/tablet     */
/* **************************************************** */
/* **************************************************** */
/* CSS FOR HEADER */
header{
    display: none;
    background-color: rgba(25,25,25,1);
    color: #fff;
    min-width: 100vw;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
@media screen and (min-width: 1000px){
    header{
        width: 8rem;
        min-width: 8rem;
        height: 100vh;
        min-height: 550px;
    }
}
/* HEADER LOGO DIV */
/* Box with logo + title */
#headerTitle{
    width: 100%;
    height: 180px;
    min-height: 180px;
    background-color: black;
    display: flex;
    background-image: url("./images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}
#headerTitle img{
    object-fit: contain;
}
/* Div with menu items */
#menuList{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #909096;
}
/* Single menu item */
.menuItem{
    height: 60px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #51515283;
    cursor: pointer;
}
.menuItem:last-of-type{
    border-bottom: 1px solid #51515283;
}
/* Socials in header div */
#socials{
    height: 150px;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#socials img{
    height: 30px;
    width: 30px;
    opacity: 40%;
    padding: 5px;
}
/* **************************************************** */
/* **************************************************** */
/*                 BACKGROUND BRACKETS                  */
/* **************************************************** */
/* **************************************************** */
.tags{
    color: #515152;
    font-family: 'Indie Flower', cursive;
    font-weight: 600;
    display: block;
    font-size: 1.4rem;
}
*::before{
    color: #515152;
    font-family: 'Indie Flower', cursive;
    font-weight: 600;
    display: block;
    font-size: 1.4rem;
}
*::after{
    color: #515152;
    font-family: 'Indie Flower', cursive;
    font-weight: 600;
    display: block;
    font-size: 1.4rem;
}
/* Opening html + body */
#openingBrackets{
    position: absolute;
    display: block;
    top: 0;
    margin-top: 1rem;
    margin-left: -1rem;
}
@media screen and (min-width: 1000px){
    #openingBrackets{
        position: relative;
    }
}
#openingBrackets::after{
    margin-left:  1rem;
    content: "<body>";
}
/* Closing html + body */
#closingBrackets{
    position: relative;
    display: block;
    bottom: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: -1rem;
}
#closingBrackets::before{
    margin-left: 1rem;
    content: "</body>";
}
/* **************************************************** */
/* **************************************************** */
/*      CLOSING AND OPENING BRACKETS FOR ELEMENTS       */
/* **************************************************** */
/* **************************************************** */
/* Opening for H2 */
.mainHeader::before{
    content: "<h2>";
    margin-left: -0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
/* Closing for H2 */
.mainHeader::after{
    content: "</h2>";
    margin-left: -0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
/* Opening for P */
.textWrapper p:first-of-type::before{
    content: "<p>";
    margin-left: -0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
/* Closing for P */
.textWrapper p:last-of-type::after{
    content: "</p>";
    margin-left: -0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
/* **************************************************** */
/* **************************************************** */
/* STYLING FOR ALL H2's and P's inside content wrappers */
/* **************************************************** */
/* **************************************************** */
.textWrapper h2{
    font-size: 4rem;
    color: #08fdd8;
    font-weight: 700;
    margin: 0;
} 
.textWrapper p{
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0.5rem 0;
}
/* **************************************************** */
/* **************************************************** */
/*              MAIN WRAPPER FOR CONTENT                */
/* **************************************************** */
/* **************************************************** */
.mainWrapper{
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 1000px){
    .mainWrapper{
        flex-direction: row;
        align-items: center;
    }
}
/* **************************************************** */
/* **************************************************** */
/*              WRAPPER FOR TEXT SECTION                */
/* **************************************************** */
/* **************************************************** */
.textWrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}
@media screen and (min-width: 1000px){
    .textWrapper{
        width: 50%;
        padding: 2rem;
    }
}
/* **************************************************** */
/* **************************************************** */
/*                   ABOUT ME BLOCK                     */
/* **************************************************** */
/* **************************************************** */
#aboutMeAniWrapper{
    width: 50%;
}
/* SPHERE */
.tagcloud{
    font-family: 'Poppins', sans-serif;  
    font-size: 20px;
    font-weight: 650;
}
/* **************************************************** */
/* **************************************************** */
/*                  CONTACT ME BLOCK                    */
/* **************************************************** */
/* **************************************************** */
/* Email form */
.contactFormText{
    width: 100%;
    border: 0;
    margin: 0.5rem 0;
    background: #2b2b2b;
    height: 50px;
    font-size: 16px;
    color: #8d8d8d;
    padding: 0 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #2b2b2b;
}
#name:focus, #subject:focus{
    outline: none;
    border-bottom: 1px solid #08fdd8;
    transition: border-color 0.4s ease-in-out;
}
#email:focus, #yourMessage:focus{
    outline: none;
    border-bottom: 1px solid #fd0808;
    transition: border-color 0.4s ease-in-out;
}
#contactFormBtn{
    height: 45px;
    width: 200px;
    font-size: 14px;
    letter-spacing: 4px;
    color: #08fdd8;
    border: 1px solid #08fdd8;
    background: #1d1d1d;
    float: right;
    margin-right: 1rem;
    margin-top: 1.5rem;
    cursor: pointer;
}
#contactFormBtn:hover{
    background: #08fdd8;
    color: black;
}
#contactMeTextWrapper form::before{
    content: "<form>";
    margin-left: -0.5rem;
}
#contactMeTextWrapper form::after{
    content: "</form>";
    margin-left: -0.5rem;
    margin-top: 2rem;
}
@media screen and (min-width: 1000px){
    #contactMeMapWrapper{
        width: 45%;
        padding: 2rem;
    }
}
/* MAP */
.mapouter{
    margin-top: 1rem;
    position: relative;
    text-align: right;
    height: auto;
}
.gmap_canvas{
    margin-top: 1rem;
    overflow: hidden;
    background: none!important;
    height: auto;
}
/* **************************************************** */
/* **************************************************** */
/*                 EXPERIENCE BLOCK                     */
/* **************************************************** */
/* **************************************************** */
/* Wrapper for progress bars and epx boxes */
#skillsVisualWrapper{
}
@media screen and (min-width: 1000px){
    #skillsVisualWrapper{
        width: 45%;
        padding: 2rem;
    }
}
/* PROGRESS BAR */
.skillBar footer{
    background-color: gray;
    margin: 0.8rem 0;
}
#skillBar1{
    margin-top: 2rem;
}
#skillBar1 footer div{
    width: 75%;
    height: 1px;
    background-color: #FF00FF;
}
#skillBar2 footer div{
    width: 55%;
    height: 1px;
    background-color: #00FF00;
}
#skillBar3 footer div{
    width: 35%;
    height: 1px;
    background-color: #FFFF00;  
}
#skillBar4 footer div{
    width: 65%;
    height: 1px;
    background-color: #00FFFF;
}
#skillBar4{
    margin-bottom: 4rem;
}
/* EXP BOX */
#expBoxes{
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 1000px){
    #expBoxes{
        display: flex;
        flex-direction: row;
    }
}
#box1{
    display: flex;
    flex-direction: column;
    background: #2a2a2a;
    padding: 1.5rem;
    margin: 0 0 1rem 0;
}
#box2{
    display: flex;
    flex-direction: column;
    background: #2a2a2a;
    padding: 1.5rem;
    margin: 1rem 0 0 0;
}
.expBox h4{
    margin-top: 0;
    margin-bottom: 0.8rem;
    font-weight: 400;
    font-size: 1.2rem;
}
.expBox p{
    margin-bottom: 0;
    margin-top: 0.8rem;
    font-size: 1rem;
    font-weight: 300;
}
.expBox span{
    font-size: 0.9rem;
    opacity: 80%;
    font-weight: 300;
    color: #ababab;
}
/* **************************************************** */
/* **************************************************** */
/*                   MY WORK BLOCK                      */
/* **************************************************** */
/* **************************************************** */
#myWorkListWrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
/* My Project Box */
.projectBox{
    background-color: #2a2a2a;
    padding: 1rem;
    margin: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media only screen and (max-width: 1500px){
    #myWorkListWrapper{
      grid-template-columns: repeat(2, 1fr);
    }
}
  @media only screen and (max-width: 800px){
    #myWorkListWrapper{
      grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (min-width: 1000px){
    #myWorkTextWrapper{
        max-width: 500px !important;
    }
}
.projectBox img{
    height: 35px;
    width: 35x;
    margin: 0 15px 0 0;
}
.projectBox h5{
    margin: 0 0 15px 0;
    font-size: 1.3rem;
    color: #08fdd8;
}
.projectBox p{
    margin: 0 0 15px 0;
    font-size: 1rem;
}
.projectBox span{
    margin: 0 0 15px 0;
    font-size: 1.1rem;
    opacity: 70%;
}
/* **************************************************** */
/* **************************************************** */
/*                   LANDING PAGE                       */
/* **************************************************** */
/* **************************************************** */
#landingTextWrapper h2{
    font-size: 6rem;
    font-weight: 700;
}
#landingBtn{
    height: 45px;
    width: 200px;
    font-size: 14px;
    letter-spacing: 4px;
    color: #08fdd8;
    border: 1px solid #08fdd8;
    background: #1d1d1d;
    margin-top: 1.5rem;
    cursor: pointer;
}
#landingBtn:hover{
    background: #08fdd8;
    color: black;
}